## This Jupyter Notebook was made by Mateo Bonnett for the Coursera Applied Data Science Capstone course offered by IBM

Import all necessary packages

In [1]:
import pandas as pd
import numpy as np

Reads the table from a file containing the converted data

In [5]:
data = pd.read_csv('table-1.csv')
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Drop unnecessary rows, reindex the DataFrame and change the name of the columns

In [6]:
c_data = data[data['Borough']!='Not assigned'].copy()
c_data.index=np.arange(211)
c_data.columns = ['PostalCode', 'Borough', 'Neighborhood']
c_data.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

Make neihborhood cell equal to the Borough cell in rows with not assigned neighborhood

In [77]:
for i in range(211):
    if(c_data.iloc[i]['Neighborhood'] == 'Not assigned'):
        c_data.iloc[i]['Neighborhood'] = c_data.iloc[i]['Borough']

c_data.head(10)

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Queen's Park
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

Create a new DataFrame

In [69]:
clean_data = pd.DataFrame(columns=['PostalCode', 'Borough', 'Neighborhood'])
clean_data

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

Look for not unique PostalCode and merge neighborhood values separated by comma

In [78]:
i = 0
for pc in c_data['PostalCode'].unique():
    L = []
    b = c_data[c_data['PostalCode']==pc]['Borough'].reset_index()
    b.drop('index',axis=1, inplace=True)
    bo =b.iloc[0].get(0)
    for j in range(c_data['PostalCode'].count()):
        if pc == c_data['PostalCode'][j]:
            L.append(c_data.iloc[j]['Neighborhood'])
    clean_data.loc[i] = [pc,bo,",".join(L)] 
    i = i+1
    
clean_data.head()

  PostalCode           Borough                     Neighborhood
0        M3A        North York                        Parkwoods
1        M4A        North York                 Victoria Village
2        M5A  Downtown Toronto         Harbourfront,Regent Park
3        M6A        North York  Lawrence Heights,Lawrence Manor
4        M7A      Queen's Park                     Queen's Park

In [49]:
geo_data = pd.read_csv('Geospatial_Coordinates.csv')
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [68]:
for code in c_data['PostalCode']:
    print(code)

M3A
M4A
M5A
M5A
M6A
M6A
M7A
M9A
M1B
M1B
M3B
M4B
M4B
M5B
M5B
M6B
M9B
M9B
M9B
M9B
M9B
M1C
M1C
M1C
M3C
M3C
M4C
M5C
M6C
M9C
M9C
M9C
M9C
M1E
M1E
M1E
M4E
M5E
M6E
M1G
M4G
M5G
M6G
M1H
M2H
M3H
M3H
M3H
M4H
M5H
M5H
M5H
M6H
M6H
M1J
M2J
M2J
M2J
M3J
M3J
M4J
M5J
M5J
M5J
M6J
M6J
M1K
M1K
M1K
M2K
M3K
M3K
M4K
M4K
M5K
M5K
M6K
M6K
M6K
M1L
M1L
M1L
M2L
M2L
M3L
M4L
M4L
M5L
M5L
M6L
M6L
M6L
M9L
M1M
M1M
M1M
M2M
M2M
M3M
M4M
M5M
M5M
M6M
M6M
M6M
M6M
M9M
M9M
M1N
M1N
M2N
M3N
M4N
M5N
M6N
M6N
M9N
M1P
M1P
M1P
M2P
M4P
M5P
M5P
M6P
M6P
M9P
M1R
M1R
M2R
M4R
M5R
M5R
M5R
M6R
M6R
M7R
M9R
M9R
M9R
M9R
M1S
M4S
M5S
M5S
M6S
M6S
M1T
M1T
M1T
M4T
M4T
M5T
M5T
M5T
M1V
M1V
M1V
M1V
M4V
M4V
M4V
M4V
M4V
M5V
M5V
M5V
M5V
M5V
M5V
M5V
M8V
M8V
M8V
M9V
M9V
M9V
M9V
M9V
M9V
M9V
M9V
M1W
M4W
M5W
M8W
M8W
M9W
M1X
M4X
M4X
M5X
M5X
M8X
M8X
M8X
M4Y
M7Y
M8Y
M8Y
M8Y
M8Y
M8Y
M8Y
M8Y
M8Y
M8Z
M8Z
M8Z
M8Z
M8Z